*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.container h1{
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.sim{
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: green;
    position: absolute;
    left: 200px;

}

.nao{
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: red;
    position: absolute;
    right: 200px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.modal{
    width: 300px;
    height: 100px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 300px;

}

.close{
    align-self:flex-end;
    position: relative;
    margin-right: 10px;
    margin-bottom:20px ;
}

.modal h2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}

