section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

section h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


.sim{
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: green;
    position: absolute;
}

.nao{
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: red;
}

.buttons{
    display: flex;
    gap: 140px;
}

